
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 10%;
    line-height: 1.6;
    background-color: #faf0dc;
    color: #6D8196;
}
.selfieDiv {
    img {
        display: block;
        width: 30%;
        height: auto;
        border: 2px solid #ccc;
    }
}
.flexContainer-bio {
    display: flex;
    margin-top: -2%;
    margin-left: 32%;
    max-width: 50%;
    flex-wrap: wrap;
}

.meanInput {
    display: inline;
}

p {
    font-size: 1rem;
}

#italic {
    display:block;
}

#resetButton {
    background-color: whitesmoke;
    size: 1.5rem;
    color: black;
}

#a1, #a2, #a3, #b1, #b2, #b3, #c1, #c2, #c3 {
    background-color: black;
    size: 1.5rem;
    color: black;
}

.previewImage {
    width: 20%;
    height: auto;
    border: 2px solid #000000;
    display: block;
}